@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.time-slice {
    display: -webkit-box;
    -webkit-align-items: strech;
}

.date.time {
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: 100px
}

body {
    display: absolute;
    align-items: left;
    min-height: 100vh;
    margin: 0 auto;
    background:url(Gambar/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}


.container {
    margin: 0 auto;
    padding: 1rem;
    width: 1000px;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.logo {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 0.5rem;
}

.heading{
    text-align: center;
    font-size: 1rem;
    color:#020202;
    padding:0.5rem;
    margin:0.5rem 0;
}

.logo i {
    font-size: 2rem;
    margin-right: 1rem;

}

nav {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;

}

nav ul li {
    margin: 0 2rem;
}

nav a{
    color: black;
    text-decoration: none;

}

.row {
    display: flex;
}

.box {
    padding: 1rem;
    flex: 1;
}

h3 {
    text-align: center;
    font-size: 3.5rem;
    margin: 10px 0;
}

h2 {
    
}
img {
    max-width: 100%;
}

main p {
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.box img {
    display: flex;

}
.about {
    border: 1px solid #000000;
}

.trainer {
    border: 1px solid #000000;
    flex-wrap: wrap;
}

.coach {
    padding: 1rem;
    flex: 1;
}

.coach img {
    border: 1px solid #000000;
    display: flex;
}

.rules {
    border: 1px solid #000000;
    flex-wrap: wrap;
}

.coach ol{
    font-size: 1rem;
    list-style-position: inside;
}

.htj {
    border: 1px solid #000000;
    flex-wrap: wrap;
}